/*HTML*/

#carrito-lista{
    display: flex;
    flex-direction:column;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: rgba(246, 245, 245, 0.877);
    margin: 0;
    padding: 10px;
}

/*Aparezca el carrito*/

#carrito-lista{
    display: none;
    max-height: 900px;
    overflow-y: auto;
}

#carrito-lista.mostrar {
    display: flex; /* ahora sí aparece */
}


#carrito-lista h6{
    font-size: 18px;
    text-align: center;
}


#carrito-botones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;

}

#carrito-botones button{
    align-items: center;
    text-align: center;
    width: 100px;
    height: 40px;
    background-color: rgba(171, 96, 3, 0.87);
    color: rgba(255, 255, 255, 0.808);
    font-style: oblique;
    border: rgba(255, 255, 255, 0.837) ;
    font-size: 12.5px;
}

#carrito-botones button:hover{
    transition: 0.5s ease;
    transform: scale(1.1);
}


/*JS*/

.items-productos{
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 20px;
    font-style: oblique;
}

.items-productos img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.items-productos p{
    font-size: 14px;
    font: bold;
}

.items-productos span{
    font-size: 14px;
    font: bold;
    align-items: center;
}

.items-productos button{
    align-items: center;
    font-size: 14px;
    width: 25px;
    height: 20px;
    background-color: rgba(171, 96, 3, 0.87);
    color: rgba(255, 255, 255, 0.808);
    border: rgba(255, 255, 255, 0.837);
    border: 0.5px solid #ccc;
    border-radius: 30px;
}

.items-productos button:hover{
    background-color: rgba(3, 84, 4, 0.932);
    color: rgba(255, 255, 255, 0.808);
    transition: 0.5s ease;
    transform: scale(1.1);

}

/*Mensaje que notifica que agrego el producto*/

#mensaje-carrito {
    position: fixed;
    bottom: 20px; /* Lo posiciona a 20px del borde inferior */
    left: 50%; /* Lo ubica al centro horizontalmente (50% del ancho de la pantalla) */
    transform: translateX(-50%);
    background-color: rgba(171, 96, 3, 0.87);
    color: rgba(255, 255, 255, 0.808);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12.5px;
    opacity: 0; /* Oculto por defecto (invisible) */
    pointer-events: none; /* No permite clics (el mouse "pasa de largo") */
    transition: opacity .4s ease;
}

#mensaje-carrito.mostrar {
    opacity: 1;/* Completamente por defecto (visible) */
}

/*Modificar el numero del icono*/
#carrito-cantidad{
    position: relative;
}

#carrito-numero{
    position: absolute;
    top: -4px;
    background-color: rgb(244, 135, 10);
    color: rgb(248, 243, 243);
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 40%;
    min-width: 8px;
    text-align: center;
}